    <!-- service -->
<div class="biseller-info">
<div class="container">
<h2 class="new-models">{$category.descategory}</h2>
            <ul id="flexiselDemo3">
                {loop="$products"}
                <li>
                    <div class="biseller-column">
                    <img src="{$value.desphoto}" alt="" class="veiw-img">
                        <div class="veiw-img-mark">
                            <a href="singlepage.html">Quick view</a>
                        </div>
                    <div class="biseller-name">
                        <h4>{$value.desproduct}</h4>
                        <p>R$ {function="formatPrice($value.vlprice)"}</p>
                    </div>
                        <a href="/cart/{$value.idproduct}/add"><button class="add2cart">
                            <span>| Add to Cart</span>
                        </button></a>                   
                    </div>
                </li>
                {/loop}
                
                
            </ul>
            </div>

            <div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            {loop="$products"}
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="{$value.desphoto}" alt="" style="height:320px;">
                    </div>
                    <h2><a href="/products/{$value.desurl}">{$value.desproduct}</a></h2>
                    <div class="product-carousel-price">
                        <ins>R${function="formatPrice($value.vlprice)"}</ins>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/cart/{$value.idproduct}/add">Comprar</a>
                    </div>                       
                </div>
                
            </div>
            {/loop}
            </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination">
                            {loop="$pages"}
                        <li><a href="{$value.link}">{$value.page}</a></li>
                        {/loop}
                        </ul>
                    </nav>                        
                </div>
            </div>
        </div>
    </div>
</div>
        </div>  

           
