<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

		<!-- banner -->
		<div class="container">
				<div class="img-slider">
						<!----start-slider-script---->
					<script src="/res/site/js2/responsiveslides.min.js"></script>
					 <script>
					    // You can also use "$(window).load(function() {"
					    $(function () {
					      // Slideshow 4
					      $("#slider4").responsiveSlides({
					        auto: true,
					        pager: true,
					        nav: true,
					        speed: 500,
					        namespace: "callbacks",
					        before: function () {
					          $('.events').append("<li>before event fired.</li>");
					        },
					        after: function () {
					          $('.events').append("<li>after event fired.</li>");
					        }
					      });
					
					    });
					  </script>
					<!----//End-slider-script---->
					<!-- Slideshow 4 -->
					    <div  id="top" class="callbacks_container">
					      <ul class="rslides" id="slider4">
					        <li>
					          <img  src="/res/site/images/slide.jpg" class="img-responsive" alt="">
					          <div class="slider-caption">
					          	 <div class="slider-caption-left text-center">
					          	 	<h1>VOCÊ ESTÁ PROCURANDO POR DELICIOSOS BOLOS E DOCES PARA ANIVERSÁRIOS? </h1>
					          	 	<p>NÃO SE PREOCUPE VENHA CONHECER NOSSOS PRODUTOS</p>
					          	 	
					          	 </div>
					          	  <div class="slider-caption-right">
					          	  	<a href="#"><img src="" class="img-responsive" title="" /></a>
					          	  </div>
					          	  <div class="clearfix"> </div>
					          </div>
					           <!-- share-on -->
					          <div class="share-on">
					          	<div class="share-on-grid">
					          		<div class="share-on-grid-left">
					          			<h3>Rede Social</h3>
					          		</div>
					          		<div class="share-on-grid-right">
					          			<a href="https://www.facebook.com/casadedonabrasilina/" target="blank"><span class="facebook"> </span></a>
					          			<div class="clearfix"> </div>
					          		</div>
					          		<div class="clearfix"> </div>
					          	</div>
					          	<div class="clearfix"> </div>
					          </div>
					          <!-- share-on -->
					        </li>
					         <li>
					          <img  src="/res/site/images/slide2.jpg" class="img-responsive" alt="">
					          <div class="slider-caption">
					          	 <div class="slider-caption-left text-center">
					          	 	<h1>VOCÊ ESTÁ PROCURANDO POR DELICIOSOS BOLOS E DOCES PARA ANIVERSÁRIOS? </h1>
					          	 	<p>NÃO SE PREOCUPE VENHA CONHECER NOSSOS PRODUTOS</p>
					          	 	
					          	 </div>
					          	  <div class="slider-caption-right">
					          	  	<a href="#"><img src="" class="img-responsive" title="" /></a>
					          	  </div>
					          	  <div class="clearfix"> </div>
					          </div>
					          <!-- share-on -->
					          <div class="share-on">
					          	<div class="share-on-grid">
					          		<div class="share-on-grid-left">
					          			<h3>Rede Social</h3>
					          		</div>
					          		<div class="share-on-grid-right">
					          			<a href="https://www.facebook.com/casadedonabrasilina/" target="blank"><span class="facebook"> </span></a>
					          			<div class="clearfix"> </div>
					          		</div>
					          		<div class="clearfix"> </div>
					          	</div>
					          	<div class="clearfix"> </div>
					          </div>
					          <!-- share-on -->
					        </li>
					        <li>
					          <img src="/res/site/images/slide3.jpg" class="img-responsive" alt="">
					           <div class="slider-caption">
					          	 <div class="slider-caption-left text-center">
					          	 	<h1>NÓS QUEREMOS TORNAR SEU NATAL MUITO MAIS SABOROSO</h1>
					          	 	<p>ENCOMENDE DOCES PERSONALIZADOS NATALINOS PARA TORNAR A CEIA ESPECIAL</p>
					          	 	<a class="buy-btn" href="https://www.facebook.com/casadedonabrasilina/" target="blank">Encomende Aqui</a>
					          	 </div>
					          	  <div class="slider-caption-right">
					          	  	<a href="#"><img src="" class="img-responsive" title="" /></a>
					          	  </div>
					          	  <div class="clearfix"> </div>
					          </div>
					           <!-- share-on -->
					          <div class="share-on">
					          	<div class="share-on-grid">
					          		<div class="share-on-grid-left">
					          			<h3>Rede Social</h3>
					          		</div>
					          		<div class="share-on-grid-right">
					          			<a href="https://www.facebook.com/casadedonabrasilina/" target="blank"><span class="facebook"> </span></a>
					          			<div class="clearfix"> </div>
					          		</div>
					          		<div class="clearfix"> </div>
					          	</div>
					          	<div class="clearfix"> </div>
					          </div>
					          <!-- share-on -->
					        </li>
					        <li>
					          <img src="/res/site/images/slide4.jpg" class="img-responsive" alt="">
					           <div class="slider-caption">
					            <div class="slider-caption-left text-center">
					          	 	<h1>VENHA FAZER O SEU BUFFET DE ANIVERSÁRIO CONOSCO</h1>
					          	 	<p>TEMOS AS MELHORES OPÇÕES QUE VÃO ALEGRAR A CRIANÇADA</p>
					          	 </div>
					          	  <div class="slider-caption-right">
					          	  	<a href="#"><img src="" class="img-responsive" title="" /></a>
					          	  </div>
					          	  <div class="clearfix"> </div>
					          </div>
					           <!-- share-on -->
					          <div class="share-on">
					          	<div class="share-on-grid">
					          		<div class="share-on-grid-left">
					          			<h3>Rede Social</h3>
					          		</div>
					          		<div class="share-on-grid-right">
					          			<a href="https://www.facebook.com/casadedonabrasilina/" target="blank"><span class="facebook"> </span></a>
					          			<div class="clearfix"> </div>
					          		</div>
					          		<div class="clearfix"> </div>
					          	</div>
					          	<div class="clearfix"> </div>
					          </div>
					          <!-- share-on -->
					        </li>
					      </ul>
					    </div>
					    <div class="clearfix"> </div>
					</div>
		<!-- /banner -->
		</div>
		<!-- top-grids -->
		<div class="top-grids">
			<div class="container">
                {loop="$products"}
				<div class="col-md-4 top-grid">

                    
					<div class="top-grid-head">
						<h4>{$value.desproduct}</h4>
					</div>
					<div class="top-grid-info">
						<a href="/products/{$value.desurl}"> <img src="{$value.desphoto}" class="img-responsive" title="Ver detalhes" style="height: 320px;" /></a>
						<p>{$value.vlfilling}</p>
						<span>R$ {function="formatPrice($value.vlprice)"}</span>
						<div class="clearfix"> </div>
						<a class="btn" href="/products/{$value.desurl}">Comprar</a>
					</div>
                    
				</div>
				{/loop}
			</div>
			<!-- top-grids-bg -->
			<div class="top-grids-bg">
				<span> </span>
			</div>
			<!-- top-grids-bg -->
		</div>
		<!-- top-grids -->
		<!-- bottom-grids -->
		<div class="bottom-grids">
			<div class="container">
				<div class="col-md-8 bottom-grid-left">
					
				
					{loop="$productsBestSellers"}
					<div class="col-md-3 bottom-grid-left-grid text-center">
						<a href="/products/{$value.desurl}"><img src="{$value.desphoto}" title="Detalhes" style="height: 130px; width: 130px;" /></a>
						<h4>{$value.desproduct}</h4>
						<p>R$ {function="formatPrice($value.vlprice)"}</p>
					</div>
					{/loop}


					<div class="clearfix"> </div>
					<span class="best-sale">Mais Vendidos</span>
					<!--<a href="#" class="order"> </a>-->
				</div>
				<div class="col-md-4 bottom-grid-right">
					<h3 style="color: #000"><span> </span> Serviços Oferecidos</h3>
					<p style="color: #000">* Casamentos</p>
					<p style="color: #000">* Festas de aniversário</p>
					<p style="color: #000">* Buffet Infantil</p>
					<label></label>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- bottom-grids -->
	<!-- /container -->
	
